@keyframes parallaxBackground {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 100000% 0%
	}
}

@-webkit-keyframes parallaxBackground {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 100000% 0%
	}
}


@font-face {
	font-family: 'Quantico';
	src: url(./fonts/Quantico2/Quantico-Regular.ttf);
}

@font-face {
	font-family: 'Quantico';
	src: url(./fonts/Quantico2/Quantico-Bold.ttf);
	font-weight: bold;
}
/* @font-face {
	font-family: 'Quantico';
	src: url(./fonts/Quantico2/Quantico-Italic.ttf);
	font-weight: italic;
} */

@font-face {
	font-family: 'Impact-Font';
	src: url(./fonts/Impact-Font/impact.ttf);
}



.background{
    animation-name: parallaxBackground;
	animation-duration: 300000s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

    -webkit-animation-name: parallaxBackground;
	-webkit-animation-duration: 300000s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite; 

}