@import url("https://fonts.googleapis.com/css2?family=Jura&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes parallaxBackground {
	from {
		background-position: 0% 0%
	}
	to {
		background-position: 100000% 0%
	}
}

@-webkit-keyframes parallaxBackground {
	from {
		background-position: 0% 0%
	}
	to {
		background-position: 100000% 0%
	}
}


.background{
    animation-name: parallaxBackground;
	animation-duration: 300000s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

    -webkit-animation-name: parallaxBackground;
	-webkit-animation-duration: 300000s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

html, body, #root {
	height: 100%;
	width: 100%;
}

.reflection {
  & > :last-child {
    transform: rotatex(180deg) translatey(0px);
    mask-image: linear-gradient(transparent 20%, white 200%);
    -webkit-mask-image: linear-gradient(transparent 20%, white 200%);
    background-image: unset;
  }
}

.custom-ratio {
  aspect-ratio: 317/450;
}

.custom-gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(229,191,154,1) 42%, rgba(229,191,154,1) 100%);
}

.custom-gradient-revert {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(229,191,154,1) 0%, rgba(229,191,154,1) 85%, rgba(2,0,36,0) 100%);
}

// Animated Arrow
.center-con {

	.cta{
		width:100%; cursor: pointer; position: absolute;.arrow{left: 30%;}
		.animated-arrow {position: absolute; bottom: 0;  margin-left:0px; width: 20px; height: 20px; background-size: contain; top:17px;}
		.segunda{margin-left: 8px;}
	}
}

@keyframes bounceAlpha {
	0% {opacity: 1; transform: translateX(0px) scale(1);}
	25%{opacity: 0; transform:translateX(10px) scale(0.9);}
	26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
	55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
	animation-name: bounceAlpha;
	animation-duration:1.4s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
	animation-name: bounceAlpha;
	animation-duration:1.4s;
	animation-delay:0.2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.arrow-hover-area:hover {
	.animated-arrow{
		animation-name: bounceAlpha;
		animation-duration:1.4s;
		animation-iteration-count:infinite;
		animation-timing-function:linear;
	}

	.animated-arrow.primera{
		animation-name: bounceAlpha;
		animation-duration:1.4s;
		animation-delay:0.2s;
		animation-iteration-count:infinite;
		animation-timing-function:linear;
	}
}
